CREATE TABLE [dbo].[Order](
	[Id] [int] NOT NULL,
	[Title] [varchar](50) NOT NULL)

INSERT [dbo].[Order] ([Id], [Title]) VALUES (1, N'Order 1')
INSERT [dbo].[Order] ([Id], [Title]) VALUES (2, N'Order 2')